build/
plugin.dll
dist/
*.d
*.o
*.svg.bak
*_draft*
*_esbos*
res/drafts/
*.dll
*.vcv
src/Maestro_v*.cpp
src/Maestro\ -\ v*.cpp
src/SomeStructure_v*.cpp
res/Maestro_*.svg
BCNmodular.code-workspace
src/Director*.cpp
per_compilar.txt